<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Discipline:</b>
  <%= @project.discipline %>
</p>

<p>
  <b>Supervisor:</b>
  <%= @project.supervisor %>
</p>

<p>
  <b>Research centre:</b>
  <%= @project.research_centre %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
